.vscode
.cache
node_modules
public
.vs/VSWorkspaceState.json
.vs/VSWorkspaceState.json
.vs/Web/FileContentIndex/003c27b8-8847-4dd5-9908-c06e94cc24ef.vsidx
.vs/VSWorkspaceState.json
.vs/VSWorkspaceState.json
.vs/Web/FileContentIndex/156dc25a-debc-4c5d-979c-f9c70333f426.vsidx
*.vsidx
*.json
*.json
.vs/Web/v17/.wsuo
*.json
